<!DOCTYPE html>
<html>
<head>
  <title>Node.js with CSS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  
  <h1>Enter your website link</h1>

  <form action="/code" method="post">
    <input type="text" name="url">
    <button type="submit">Submit</button>
  </form>

</body>
</html>
